h1 {
    line-height: 50px;
}
h2 {
    line-height: 44px;
}
h5 {
    line-height: 28px;
}

h1,
h2, 
h3,
h4,
h5,
p {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}


/*
|--------------------------------
| ABOUT PAGE HERO BANNER CSS
|--------------------------------
*/

.devx__about-hero-banner img {
    width: 450px;
    height: 350px;  
    position:relative;
    bottom: -24px;
}
.devx__about-hero-banner p {
    max-width: 900px;
}
.devx__about-hero-banner h1 {
    color: #00448F;
}
.devx__about-hero-banner {
    background-image: url("../images/about-page/about-hero-banner-bg-gradient.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 660px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap: 40px;
    margin-bottom: 46px;
}
.devx__about-hero-banner .container .row .col-lg-12 {
    display:flex;
    align-items:center;
    justify-content:center;
    gap: 20px;
}


/*
|--------------------------------
| ABOUT PAGE REAL RESULTS CSS
|--------------------------------
*/

.devx__about-real-results {
    padding-top: 46px;
    padding-bottom: 46px;
}
.devx__about-real-results img {
    height: 500px;
    width: 460px;
}
.devx__about-real-results .container {
    max-width: 1100px;
}
.devx__about-real-results h2 {
    color: #00448F;
}
.devx__about-real-results .content-wrapper {
    display:flex;
    align-items:start;
    justify-content:center;
    flex-direction: column;
    gap: 20px;
}
.devx__about-real-results .theme__btn {
    background: #00448F;
    color: #ffffff;
    text-decoration: none;
    border-radius: 8px;
    padding: 12px 24px;
    line-height: 24px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 12px;
}


/*
|--------------------------------
| VIDEO THUMBNAIL SECTION CSS
|--------------------------------
*/

.devx__about-video-section {
    /* background-image: url("../images/about-page/about-video-section-bg-gradient.png"); */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position:center; */
    margin-top: 46px;
    min-height: 550px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.devx__about-video-section img {
    max-height: 400px;
}


/*
|--------------------------------
| ABOUT TIMELINE SECTION CSS
|--------------------------------
*/

.devx__about-timeline-section {
    background: #EFFFFF;
    padding-top: 92px;
    padding-bottom: 346px;
}
.devx__about-timeline-section h2 {
    color: #00448F;
}
.devx__about-timeline-section p {
    max-width: 800px;
}
.devx__about-timeline-section .theme__btn {
    background: #00448F;
    color: #ffffff;
    text-decoration: none;
    border-radius: 8px;
    padding: 12px 24px;
    line-height: 24px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 12px;
}
.devx__about-timeline-section h3,
.devx__about-timeline-section span.time {
    font-size: 22px;
}
.devx__about-timeline-section span.time {
    color:#00448F;
    font-weight: 600;
}
.devx__about-timeline-section .image-avatar {
    height: 84px;
    width: 84px;
    border-radius: 100px;
    background: #D9D9D9;
}
.devx__about-timeline-section .row .col-lg-12:nth-child(2) .row .col.line-col .blue-line {
    min-width: 100%;
    height: 6px;
    background: #3ECCFE;
    position:relative;
}
.devx__about-timeline-section .row .col-lg-12:nth-child(2) .row .col.bended-first,
.devx__about-timeline-section .row .col-lg-12:nth-child(2) .row .col.bended-fourth {
    position:relative;
    overflow:hidden;
}
.devx__about-timeline-section .row .col-lg-12:nth-child(2) .row .col.bended-first::before,
.devx__about-timeline-section .row .col-lg-12:nth-child(2) .row .col.bended-fourth::before {
    content: '';
    border:6px solid #3ECCFE;
    min-width: 100%;
    min-height: 100%;
    border-radius: 20px;
    top: calc(50% - 3px);
    right: 50%;
    position:absolute;
}
.devx__about-timeline-section .row .col-lg-12:nth-child(2) .row .col.bended-fourth::before {
    right: 58%;
}
.devx__about-timeline-section .row .col-lg-12:first-child {
    gap: 12px;
    margin-bottom: 40px;
}
.devx__about-timeline-section .row .col-lg-12:nth-child(2) .row .col {
    padding-right: 0px;
    padding-left: 0px;
}
.devx__about-timeline-section .row .col-lg-12:nth-child(2) .row .col .card {
    box-shadow: 0px 0px 50px 0px #0000000F;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-radius: 30px;
    padding: 50px 32px;
    border:none;
    min-width: 100%;
    justify-content:center;
}
.devx__about-timeline-section .row .col-lg-12:nth-child(2) .row.third-row .row {
    min-width: 100%;
}
.devx__about-timeline-section .row .col-lg-12:nth-child(2) .row.third-row .card {
    width: 500px;
    padding: 32px;
}
.devx__about-timeline-section .row .col-lg-12:nth-child(2) .row .col.bended-first .blue-line,
.devx__about-timeline-section .row .col-lg-12:nth-child(2) .row .col.bended-fourth .blue-line {
    display:none;
}
.devx__about-timeline-section .row .col-lg-12:nth-child(2) .row .col.line-col .blue-line.circle-rounded::before {
    content: '';
    border-radius: 100px;
    background:white;
    top: -7px;
    border: 2px solid #3ECCFE;
    position:absolute;
    height: 22px;
    box-shadow: 0px 0px 20px 0px #00000026;
    width: 22px;
    z-index: 1;
}
.devx__about-timeline-section .row .col-lg-12:nth-child(2) .row .col.line-col .blue-line.circle-rounded.circle-center { 
    display:flex;
    align-items:center;
    justify-content:center;
}
.devx__about-timeline-section .row .col-lg-12:nth-child(2) .row.second-row {
    position:relative;
    top: 100px;
}
.devx__about-timeline-section .row .col-lg-12:nth-child(2) .row.third-row {
    position:relative;
    top: 100px;
}
.devx__about-timeline-section .row .col-lg-12:nth-child(2) .row.fourth-row {
    position:relative;
    top: 200px;
}
.devx__about-timeline-section .row .col-lg-12:nth-child(2) .row .col.bended-second {
    position:relative;
    top: -200px;
    display:flex;
    flex-direction:column-reverse;
}
.devx__about-timeline-section .row .col-lg-12:nth-child(2) .row .col.bended-second::before  {
    content: '';
    min-width: 100%;
    right: 50%;
    top: calc(100% - 6px);
    position:absolute;
    height: 67px;
    border-right:6px solid #3ECCFE;
    border-bottom:6px solid #3ECCFE; 
    border-bottom-right-radius: 20px;
}
.devx__about-timeline-section .row .col-lg-12:nth-child(2) .row.fourth-row .col.bended-second::before {
    height: 73px;
}
.devx__about-timeline-section .row .col-lg-12:nth-child(2) .row .col.bended-third {
    position:relative;
}
.devx__about-timeline-section .row .col-lg-12:nth-child(2) .row .col-lg-4 .image-avatar {
    margin-bottom: 2px;
}
.devx__about-timeline-section .row .col-lg-12:nth-child(2) .row .col-lg-4 {
    gap: 2px;
    padding-right: 2px;
    padding-left: 2px;
}
.devx__about-timeline-section .row .col-lg-12:nth-child(2) .row .col.bended-third::before {
    content: '';
    height: 200px;
    border-top:6px solid #3ECCFE; 
    border-left:6px solid #3ECCFE;
    min-width: 100%;
    left: 85%;
    border-top-left-radius: 20px;
    top: calc(50% - 3px);
    position:absolute;
}


/*
|--------------------------------
| ABOUT GROWTH BEGINS CSS
|--------------------------------
*/

.devx__about-growth-begins {
    padding-top: 46px;
    padding-bottom: 46px;
}
.devx__about-growth-begins h2 {
    color: #00448F;
}
.devx__about-growth-begins .col-lg-12 .content-wrapper {
    max-width: 900px;
    display:flex;
    margin-top: 32px;
    gap: 12px;
    text-align: center;
    flex-direction: column;
}


/*
|--------------------------------
| ABOUT TRADITIONAL
|--------------------------------
*/

.devx__about-traditional-agencies {
    padding-top: 46px;
    padding-bottom: 46px;
    background: #EFFFFF;
}
.devx__about-traditional-agencies h2 {
    color: #00448F;
}
.devx__about-traditional-agencies p {
    padding-top: 12px;
    max-width: 600px;
    text-align:center;
}
.devx__about-traditional-agencies .points-wrapper {
    min-width: 100%;
    box-shadow: 0px 0px 50px 0px #0000000F;
    border-radius: 30px;
    margin-top: 32px;
}
.devx__about-traditional-agencies .container {
    max-width: 1400px;
}
.devx__about-traditional-agencies .col-lg-5:first-child {
    background: #00448F;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: 30px;
}
.devx__about-traditional-agencies .second-5-col {
    background: #ffffff;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: 30px;
}
.devx__about-traditional-agencies .col-lg-5:first-child h4 {
    color:#ffffff;
    padding-bottom: 32px;
}
.devx__about-traditional-agencies .second-5-col h4 {
    padding-bottom: 32px;
}
.devx__about-traditional-agencies .col-lg-2 h4 {
    padding-bottom: 16px;
    position:relative;
    top: -8px;
}
.devx__about-traditional-agencies ul {
    padding-left: 0px;
    list-style-type: none;
}
.devx__about-traditional-agencies .col-lg-5:not(.second-5-col) ul li {
    color: #ffffff;
}
.devx__about-traditional-agencies ul li {
    display:flex;
    align-items:center;
    justify-content:center;
    gap: 12px;
    line-height: 28px;
}
.devx__about-traditional-agencies ul {
    min-width: 100%;
    display:flex;
    flex-direction:column;
    align-items:start;
    justify-content:center;
}
.devx__about-traditional-agencies ul li:not(:last-child) {
    margin-bottom: 16px;
}
.devx__about-traditional-agencies .col-lg-2 {
    background: #EFFFFF;
    padding: 50px 0px;
}
.devx__about-traditional-agencies .col-lg-2 h4 {
    text-align:center;
    line-height: 32px;
}
.devx__about-traditional-agencies .col-lg-5:nth-child(2) {
    background: #00448F;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: 30px;
}
.devx__about-traditional-agencies .bpw-col-lg-2 li {
    color: #353535;
    padding-right: 16px;
    padding-left: 16px;
}


/*
|--------------------------------
| ABOUT - FAQ SECTION
|--------------------------------
*/

.devx__about-faq {
    padding-top: 46px;
    padding-bottom: 92px;
}
.devx__about-faq .accordion-body {
    line-height: 32px;
}
.devx__about-faq h2.main-heading + p {
    padding-bottom: 32px;
}
.devx__about-faq h2.main-heading{
    font-weight: 700;
    font-style: Bold;
    font-size: 38px;
    line-height: 60px;
    letter-spacing: 0%;
    text-align:center;
    color: #00448F;
}
.devx__about-faq .accordion .accordion-item:not(:last-child) {
    margin-bottom: 10px;
}
.devx__about-faq .accordion-button::after {
    transform:scale(0.8);
}
.devx__about-faq .actual-faq-wrapper {
    max-width: 850px;
    margin:auto;
    padding: 30px;
    border-radius: 20px;
    background: #EFFFFF;
    border: 2px solid #FFFFFF33
}
.devx__about-faq #accordionFlushExample {
    padding-right: 0px;
    padding-left: 0px;
}
.devx__about-faq .accordion-button[aria-expanded="true"] {
    background:#ffffff !important;
    color: #000C1C;
    border-bottom: none !important;
    border-top: 1px solid #00000033;
    border-right: 1px solid #00000033;
    border-left: 1px solid #00000033;
}
.devx__about-faq .accordion-button[aria-expanded="true"] img {
    filter:none !important;
}
.devx__about-faq .accordion-button:focus{
    box-shadow:none !important;
}
.devx__about-faq .accordion-item,
.devx__about-faq .accordion-button  {
    background:none !important;
}
.devx__about-faq .accordion-item {
    border-bottom:none !important;
}
.devx__about-faq .accordion-body {
    padding-top: 0px !important;
}
.devx__about-faq .accordion-button {
    color: #404040;
    font-weight: 600;
    padding: 24px !important;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0%;
    display:flex;
    box-shadow:none !important;
    border-top-right-radius: 16px !important;
    border-top-left-radius: 16px !important;
    align-items:center;
    justify-content:start;
    gap: 10px;
}
.devx__about-faq .accordion-collapse {
    border-bottom-right-radius: 16px !important;
    background:#ffffff !important;
    border-bottom: 1px solid #00000033;
    border-right: 1px solid #00000033;
    border-left: 1px solid #00000033;
    border-bottom-left-radius: 16px !important;
}
.devx__about-faq .accordion-collapse.show p {
    color: #000C1C;
}