.contact-section-wrapper {
            background-image: url('../images/contact-page/contact-bg-desktop.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom;
            min-height: 800px;
            margin-bottom: 92px;
            display:flex;
            align-items: center;
            justify-content: center;
            padding-top: 80px !important;

        }
        .contact-banner h1 {
            font-size: clamp(32px, 3.5vw, 46px);
            line-height: clamp(48px, 4.5vw, 60px);
        }
        .contact-banner {
            background: linear-gradient(
                180deg,
                #0f1e46 0%,
                #122a66 18%,
                #143b85 54%,
                #143b85 60%,
                #122a66 94%,
                #0f1e46 100%
            );
            margin-top: 80px;
        }
        .contact-banner .container .row .col-lg-12 {
            min-height: 300px;
        }

        .contact-content {
            padding-top: 92px;
            padding-bottom: 92px;
        }
        /* .contact-section-wrapper .inner-wrapper ul li {
            padding-top: 0px !important;
            padding-bottom: 0px !important;
        } */
        .contact-section-wrapper .inner-wrapper ul li:not(:last-child) {
            position:relative;
        }
        .contact-section-wrapper .inner-wrapper ul li:not(:last-child)::after {
            content: '';
            display:flex;
            flex-direction: column;
            width: 2px;
            top: 37px;
            left: 8px;
            border: 2px solid #3A73B3;
            height: 39px;
            position:absolute;
        }
        .contact-section-wrapper form {
            background: rgba(255, 255, 255, 0.534);
            padding: 30px;
            min-width: 600px !important;
            max-width: 600px !important;
            border-radius: 16px;
        }
        @media only screen and (max-width: 1400px) {
            .container {
                min-width: 100%;
            }
        }
        @media only screen and (max-width: 1330px) {
            nav .theme__btn {
                display:none;
            }
            .navbar-expand-xl .navbar-nav .nav-link {
                text-wrap:nowrap;
            }
            body nav .nav-item span {
                font-size: 12px;
            }
            nav.navbar-expand-xl .container {
                padding-right: 0px;
                padding-left: 0px;
            }
            .navbar-brand {
                padding-left: 16px;
            }
            .navbar-toggler {
                margin-right: 16px;
            }
        }
        @media only screen and (max-width: 1330px) and (min-width: 1024px) {
            .navbar-expand-xl .navbar-nav {
                margin-right: 16px;
            }
        }
        @media only screen and (max-width: 1201px) {
            .navbar-expand-xl .navbar-nav li {
                min-width: 100% !important;
                padding-right: 16px !important;
                padding-left: 16px !important;
            }
            .navbar-expand-xl .navbar-nav {
                float:left;
            }
            .navbar-collapse{
                margin-top: -10px;
                background:white;   
                padding-top: 12px;
                padding-bottom: 24px;
            }
        }


        @media only screen and (max-width: 1290px) {
            .contact-section-wrapper .inner-wrapper {
                padding-right: 24px;
            }
            .contact-section-wrapper .inner-wrapper ul li:not(:last-child)::after {
                display:none !important;
            }
        }

        @media only screen and (max-width: 991px) {
            .contact-section-wrapper .inner-wrapper ul li:not(:last-child)::after {
                display:none !important;
            }
            .contact-section-wrapper .inner-wrapper {
                padding-right: 0px;
            }
            .contact-section-wrapper .col-lg-5 {
                margin-bottom: 46px;
            }
            .contact-section-wrapper form {
                min-width: 100% !important;
                max-width: 100% !important;
            }
        }

        @media only screen and (max-width: 576px) {
            .contact-section-wrapper form {
                padding: 20px;
            }
            .contact-section-wrapper .col-lg-5 {
                margin-bottom: 20px;
            }
            .contact-section-wrapper {
                background-image: url('../images/contact-page/contact-bg-mobile.svg');
                padding-bottom: 40px;
            }
            #phoneStateRow .form-group {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }