/* elitescale ai - hero section */

.devx__elite-hero-section .row {
    padding-right: 16px;
    padding-left: 16px;
}   
.devx__elite-hero-section .col-lg-6 img {
    max-width: 500px;
    padding-top: 20px;
    margin-top: 46px;
    margin-bottom: 46px;
}
.devx__elite-hero-section .col-lg-6 .buttons-wrapper {
    gap: 14px;
}
.devx__elite-hero-section .col-lg-6 .buttons-wrapper .devx__btn-primary {
    background: #00CEAF;
    border: 1px solid #00CEAF;
    color: var(--theme-primary) !important;
}


/* elitescale ai -  results section */

.devx__elite-results {
    padding-top: 46px;
    padding-bottom: 46px;
}
/* .devx__elite-results p.main-para {
    margin-top: 12px;
    margin-bottom: 40px;
    color:white;
} */
.devx__elite-results .inner-wrapper img {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}
.devx__elite-results .inner-wrapper {
    border: 1px solid #FFFFFF4D;
    min-height: 368px;
    border-radius: 16px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    gap: 12px;
}
.devx__elite-results h3 {
    color: #EFCE4E;
}
.devx__elite-results .results-main-cta-button:hover {
    opacity: 0.8;
}
.devx__elite-results .devx__btn-primary {
    background: #00CEAF;
    border: 1px solid #00CEAF;
    color: var(--theme-primary) !important;
}


/* elitescale ai - build */

.devx__elite-built {
    padding-top: 60px;
    padding-bottom: 60px;
}
.devx__elite-built p {
    line-height: 32px;
}
.devx__elite-built h2 {
    line-height: 48px;
}
.devx__elite-built h2,
.devx__elite-built p {
    color:white
}
.devx__elite-built img {
    max-width: 500px;
}


/* elitescale ai - advantage */

.devx__elite-advantage {
    padding-top: 60px;
    padding-bottom: 80px;
}
.devx__elite-advantage .main-para {
    margin-bottom: 40px;
    margin-top: 12px;
    line-height: 32px;
}
.devx__elite-advantage .main-para, 
.devx__elite-advantage .main-heading {
    color:white;
    text-align:center;
}
.devx__elite-advantage .inner-wrapper h5 + p {
    color:white;
    text-align:center;
    line-height: 28px;
}
.devx__elite-advantage .inner-wrapper h5 {
    color: #EFCE4E;
    font-size: 22px;
}
.devx__elite-advantage .inner-wrapper {
    min-height: 324px;
    border: 1px solid #FFFFFF4D;
    border-radius: 12px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    gap:20px;
}
.devx__elite-advantage .row .col-lg-4 {
    padding-right: 15px;
    padding-left: 15px;
}
.devx__elite-advantage .row .col-lg-4:nth-child(4),
.devx__elite-advantage .row .col-lg-4:nth-child(5),
.devx__elite-advantage .row .col-lg-4:nth-child(6) {
    margin-top: 30px;
}


/* turning */

.devx__elite-turning {
    background: #00070F;
    padding-top: 80px;
    padding-bottom: 80px;
}
.devx__elite-turning .inner-wrapper h2 + p {
    line-height:32px;
}
.devx__elite-turning .inner-wrapper h2, 
.devx__elite-turning .inner-wrapper h2 + p {
    color:white;
}
.devx__elite-turning .inner-wrapper {
    display:inline-flex;
    flex-direction:column;
    align-items:start;
    justify-content:center;
    gap: 20px;
}
.devx__elite-turning .turning-cta-button:hover {
    opacity: 0.8;
}
.devx__elite-turning .turning-cta-button {
    background: #00CEAF;
    border: 1px solid #00CEAF;
    color: #0F2C4E;
    padding: 14px 26px;
    border-radius: 12px;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    font-family:"Bricolage-Grotesque";
    text-transform: uppercase;
    letter-spacing: 0.3px;
    transition: 0.2s;
}
.devx__elite-turning {
    margin-bottom: 20px;
}


/* elitescale ai - growth */

.devx__elite-growth-engine .main-heading {
    color:white;
    text-align:center;
}
.devx__elite-growth-engine .main-para {
    color:white;
    text-align:center;
    margin-top: 16px;
    line-height: 28px;
    margin-bottom: 40px;
}
.devx__elite-growth-engine {
    padding-top: 80px;
    padding-bottom: 80px;
}
.devx__elite-growth-engine .inner-wrapper {
    display:flex;
    min-height: 400px;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    border: 1px solid #FFFFFF4D;
    border-radius: 20px;
    padding: 50px 20px;
    gap: 18px;
}
.devx__elite-growth-engine .col {
    padding-right: 10px;
    padding-left: 10px;
}
.devx__elite-growth-engine .inner-wrapper img {
    max-height: 80px;
}
.devx__elite-growth-engine .inner-wrapper h3 {
    font-size: 24px;
    line-height: 34px;
}
.devx__elite-growth-engine .inner-wrapper p {
    font-size: 14px;
    line-height: 24px;
}
.devx__elite-growth-engine .inner-wrapper h3,
.devx__elite-growth-engine .inner-wrapper h5,
.devx__elite-growth-engine .inner-wrapper p {
    text-align:center;
    color:white;
}
.devx__elite-growth-engine .growth-cta-button:hover {
    opacity: 0.8;
}
.devx__elite-growth-engine .growth-cta-button {
    background: #00CEAF;
    border: 1px solid #00CEAF;
    color: #0F2C4E;
    padding: 14px 26px;
    border-radius: 12px;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    font-family:"Bricolage-Grotesque";
    text-transform: uppercase;
    letter-spacing: 0.3px;
    transition: 0.2s;
    margin-top: 40px;
    margin-bottom: 40px;
}


/* elitescale ai - enterprise */

.devx__elite-enterprise {
    padding-top: 80px;
    padding-bottom: 80px;
}
.devx__elite-enterprise .main-heading {
    color:white;
}
.devx__elite-enterprise .main-para {
    margin-top: 12px;
    line-height: 28px;
    color:white;
    text-align:center;
    margin-bottom: 40px;
}
.devx__elite-enterprise .inner-wrapper h4 {
    margin-top: 12px;
}
.devx__elite-enterprise .inner-wrapper h4,
.devx__elite-enterprise .inner-wrapper p {
    margin-bottom: 0px;
}
.devx__elite-enterprise .inner-wrapper h5 {
    margin-bottom: 12px;
}
.devx__elite-enterprise .inner-wrapper p {
    line-height: 28px;
}
.devx__elite-enterprise .inner-wrapper {
    border: 1px solid #FFFFFF33;
    background: #0C1727;
    min-height: 500px;
    border-radius: 16px;
    color:white ;
    display:flex;
    align-items:start;
    justify-content:center;
    flex-direction:column;
    gap: 20px;
    padding: 24px;
}


/* elitescale ai - faq section */

.devx__elite-faq-section {
    padding-bottom: 100px;
}
.devx__elite-faq-section .accordion-body {
    line-height: 32px;
}
.devx__elite-faq-section h2.main-heading{
    font-weight: 700;
    font-style: Bold;
    font-size: 38px;
    line-height: 60px;
    letter-spacing: 0%;
    margin-bottom: 40px;
    padding-top: 50px;
    text-align:center;
    color:white;
}
.devx__elite-faq-section .accordion .accordion-item:not(:last-child) {
    margin-bottom: 10px;
}
.devx__elite-faq-section .accordion-button::after {
    transform:scale(0.8);
}
.devx__elite-faq-section .actual-faq-wrapper {
    max-width: 850px;
    margin:auto;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid #FFFFFF33
}
.devx__elite-faq-section #accordionFlushExample {
    padding-right: 0px;
    padding-left: 0px;
}
.devx__elite-faq-section .accordion-button[aria-expanded="false"]::after {
    filter:brightness(0) invert(1);
} 
.devx__elite-faq-section .accordion-button[aria-expanded="true"] {
    background:#EFCE4E !important;
    color: #000C1C;
    border-bottom: none !important;
}
.devx__elite-faq-section .accordion-button[aria-expanded="true"] img {
    filter:none !important;
}
.devx__elite-faq-section .accordion-button:focus{
    box-shadow:none !important;
}
.devx__elite-faq-section .accordion-item,
.devx__elite-faq-section .accordion-button  {
    background:none !important;
}
.devx__elite-faq-section .accordion-item {
    border-bottom:none !important;
}
.devx__elite-faq-section .accordion-body {
    padding-top: 0px !important;
}
.devx__elite-faq-section .accordion-button img {
    filter:brightness(0) invert(1);
}
.devx__elite-faq-section .accordion-button {
    color: #ffffff;
    font-weight: 600;
    padding: 24px !important;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0%;
    display:flex;
    box-shadow:none !important;
    border-top-right-radius: 16px !important;
    border-top-left-radius: 16px !important;
    align-items:center;
    justify-content:start;
    gap: 10px;
}
.devx__elite-faq-section .accordion-collapse {
    border-bottom-right-radius: 16px !important;
    background:#EFCE4E !important;
    border-bottom-left-radius: 16px !important;
}
.devx__elite-faq-section .accordion-collapse.show p {
    color: #000C1C;
}


/* ready to grow */

.devx__elite-ready-to-grow {
    padding-top: 80px;
    padding-bottom: 120px;
}
.devx__elite-ready-to-grow .inner-wrapper p {
    line-height:28px;
}
.devx__elite-ready-to-grow .inner-wrapper {
    display:flex;
    flex-direction:column;
    align-items:start;
    gap:20px;
    justify-content:center;
    color:white;
}
.devx__elite-ready-to-grow .inner-wrapper .ready-to-grow-cta-button:hover {
    opacity: 0.8;
}
.devx__elite-ready-to-grow .inner-wrapper img {
    max-height: 500px;
}
.devx__elite-ready-to-grow .inner-wrapper .ready-to-grow-cta-button{
    background: #00CEAF;
    border: 1px solid #00CEAF;
    color: #0F2C4E;
    padding: 14px 26px;
    border-radius: 12px;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    font-family:"Bricolage-Grotesque";
    text-transform: uppercase;
    letter-spacing: 0.3px;
    transition: 0.2s;
}