
/*
|-------------------------------
| HOMEPAGE - NAVBAR
|-------------------------------
*/

.navbar-expand-xl{max-height:80px;padding-top:0}.navbar-expand-xl .navbar-nav{margin-top:8px;align-items:center}nav{background:0 0;backdrop-filter:blur(3.5px)}nav.navbar-expand-xl .container{padding-right:24px;padding-left:24px}nav.navbar-expand-xl{background:#fff}body nav .nav-item span{font-family:Montserrat;font-size:14px;font-weight:600;position:relative;cursor:pointer;letter-spacing:.3px}body nav .nav-item span::after{content:"";position:absolute;left:0;bottom:-4px;width:0%;height:2px;background-color:var(--theme-dark);transition:width .2s ease-in-out}body nav .nav-item span:hover::after{width:100%}body .theme__btn{font-family:Montserrat,sans-serif;letter-spacing:.6px}#navbar{transition:opacity .2s ease-in-out,visibility .5s ease-in-out;opacity:1;visibility:visible}#navbar.hidden{opacity:0;visibility:hidden}



/*
|------------------------------
| APPLICATION FONTS
|------------------------------
*/

@font-face {
    font-family: "Plus Jakarta Sans", sans-serif;
    src: url("../fonts/bricolage-grotesque/BricolageGrotesque-SemiBold.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/*
|-----------------------------
| GLOBAL STYLES
|-----------------------------
*/

:root {
    --theme-white: #ffffff;
    --theme-offwhite: #f7f7f7;
    --theme-dark: #333333;
    --theme-primary: #032D60;
    --theme-light-primary: #0176d3;
}
body {
    font-family: "Montserrat", sans-serif;
    background-color: #f8f9fa;
}


/*
|-----------------------------
| HEADING AND FONTS
|-----------------------------
*/

h1,
h2,
h3,
h4,
h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600 !important;
    margin-bottom: 0px;
    margin-top: 0px;
}
h1 {
    font-size: clamp(26px, 3vw, 44px);
    line-height: 56px;
}
h2 {
    font-size: clamp(22px, 3vw, 36px);
    line-height: 52px;
}
h3 {
    font-size: clamp(16px, 1.5vw, 20px);
    line-height: 30px;
}
p {   
    font-size: clamp(13px, 1.1vw, 16px);;
    color: var(--theme-dark);
    font-weight: 500;
    text-transform: capitalize;
    line-height: 32px;
}


/*
|-----------------------------
| BUTTONS 
|-----------------------------
*/

.devx__btn-primary {
    background: #0176d3;
    color: #ffffff !important;
    border-radius: 8px;
    padding: 10px 24px !important;
    line-height: 24px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    transition:0.2s;
}
.devx__btn-secondary {
    border: 1px solid #0176d3;
    font-family: "Montserrat", sans-serif;
    background: white;
    color: #0176d3;
    border-radius: 8px;
    padding: 10px 24px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition:0.2s;
    text-decoration: none;
}
.devx__btn-primary:hover,
.devx__btn-secondary:hover {
    opacity: 0.8;
}


/*
|-----------------------------
| UTILITY CLASSES
|-----------------------------
*/

.gap-12 {
    gap: 12px;
}
.gap-24 {
    gap: 24px;
}
.gap-10 {
    gap: 10px;
}
.gap-20 {
    gap: 20px;
}
.devx__color-primary {
    color:var(--theme-primary);
}