/* hero section */

.devx__green-hero-section {
    padding-top: 46px;
    padding-bottom: 46px;
}
.custom-greenscale-ai .devx__btn-primary {
    background: linear-gradient(to left, #70a7fa, #3C76D3) !important;
    border:none !important;
}
/* .devx__green-hero-section h1 {
    color: #353535;
    margin-bottom: 0px;
} */
/* .devx__green-hero-section h1 + p {
    margin-top: 12px;
    margin-bottom: 28px;
} */
/* .devx__green-hero-section .cta-button:hover {
    opacity: 0.8;
} */
.devx__green-hero-section img {
    max-width: 480px;
    width: 480px;
}
.devx__green-hero-section .devx__btn-primary {
    background: #21913B;
    border: 1px solid #21913B;
}

/* media queries hero-section */

@media only screen and (max-width: 576px) {
    .devx__green-hero-section .devx__btn-primary {
        min-width: 100%;
    }
    .devx__green-hero-section img {
        width: 100% !important;
        height: 100% !important;
    }
}


/* green - vegan */

.devx__green-vegan {
    padding-top: 46px;
    padding-bottom: 46px;
}
/* .devx__green-vegan .main-heading {
    text-align: center;
    margin-bottom: 20px;
    color: #353535;
} */
/* .devx__green-vegan .main-para {
    text-align: center;
    margin-bottom: 40px;
    line-height: 28px;
} */
.devx__green-vegan .main-cards-wrapper .col-lg-6 {
    padding-right: 0px;
    padding-left: 0px;
    width: calc(50% - 20px);
}
.devx__green-vegan .main-cards-wrapper {
    width: 1080px;
    display: flex;
    gap: 24px;
}
/* .devx__green-vegan .main-cards-wrapper .inner-wrapper p {
    line-height: 28px;
} */
.devx__green-vegan .main-cards-wrapper .inner-wrapper {
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #00000033;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 0px #00000014;
    padding: 40px;
    gap: 20px;
}
.devx__green-vegan .main-cards-wrapper .inner-wrapper img {
    max-height: 70px;
    max-width: 70px;
}
/* .devx__green-vegan .main-cards-wrapper h3 {
    color: #353535;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 12px;
} */
.devx__green-vegan .cta-button:hover {
    opacity: 0.8;
}
.devx__green-vegan .devx__btn-primary {
    background: #21913B;
    border: 1px solid #21913B;
}


/* green vegan - media queries */

@media only screen and (max-width: 1200px) {
    .devx__green-vegan .container {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .devx__green-vegan .container .main-cards-wrapper {
        padding-right: 16px;
        padding-left: 16px;
        display:grid;
        width: 100% !important;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        align-items:stretch;
    }
    .devx__green-vegan .main-cards-wrapper .col-lg-6 {
        width: 100% !important;
    }
    .devx__green-vegan .main-cards-wrapper .inner-wrapper {
        min-height: fit-content;
        height: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .devx__green-vegan .container .main-cards-wrapper {
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 576px) {
    .devx__green-vegan .main-cards-wrapper .inner-wrapper {
        padding: 30px;
        flex-direction: column;
    }
    .devx__green-vegan {
        padding-top: 0px;
    }
}

/* green - future */

.devx__green-future {
    background-image: url("../images/greenscale-ai/future-main-img-desktop.svg");
    background-size: cover;
    background-position: center;
    min-width: 100% !important;
    margin-bottom: 20px;
    background-repeat: no-repeat;
}
.devx__green-future .container .row .col-lg-6 {
    min-height: 668px;
}
/* .devx__green-future .cta-button:hover{
    opacity: 0.8;
} */
/* .devx__green-future h2 + p{
    margin-top: 12px;
} */
.devx__green-future .devx__btn-primary {
    background: #21913B;
    border:1px solid #21913B;
}
.devx__green-future{
    max-width:1200px;
    margin:auto;
}

@media only screen and (max-width: 991px) {
    .devx__green-future {
        padding: 46px 16px;
    }
    .devx__green-future .container .row .col-lg-6 {
        min-height: fit-content;
        padding-right: 0px;
        padding-left: 0px;
    }
}
@media only screen and (max-width: 767px) {
    .devx__green-future video {
        min-width: 100% !important;
        min-height: 100% !important;
    }
}
@media only screen and (max-width: 576px) {
    .devx__green-future .devx__btn-primary {
        min-width: 100%;
        text-align:center;
    }
}


/* green - phase */

.devx__green-phase {
    padding-top:46px;
    padding-bottom: 192px;
    background: url('../images/greenscale-ai/green-phase-desktop.svg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom;
}
/* .devx__green-phase .main-para{
    text-align:center;
    line-height:28px;
    margin-top:12px;
    margin-bottom:32px;
} */
/* .devx__green-phase .main-heading{
    text-align:center;
    line-height:34px;
} */
.devx__green-phase .inner-wrapper{
    min-height:374px;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    background: #FFFFF3;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 14%);
    align-items:center;
    justify-content:center;
    padding:40px 12px;
    gap:12px;
}
.devx__green-phase .inner-wrapper h3{
    text-align:center;
}
.devx__green-phase .inner-wrapper img{
    margin-bottom:20px;
    height: 60px;
    width: 60px;
}
/* .devx__green-phase .inner-wrapper h3 + p{
    text-align:center;
} */
.devx__green-phase .devx__btn-primary {
    background:#21913B;
    border:1px solid #21913B;
}

/* green phase - media queries */

@media only screen and (max-width: 1200px) {    
    .devx__green-phase .container {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .devx__green-phase .container .row:first-child + .row .inner-wrapper {
        min-height: 100% !important;
    }
    .devx__green-phase .container .row:first-child + .row {
        display:grid;
        margin-right: 16px;
        margin-left: 16px;
        grid-template-columns:repeat(5, 1fr);
        grid-gap: 20px;
    }
    .devx__green-phase .container .row .col {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}
@media only screen and (max-width: 1024px) {
    .devx__green-phase .container .row:first-child + .row {
        grid-template-columns:repeat(4, 1fr);
    }
} 
@media only screen and (max-width: 991px) {
    .devx__green-phase .container .row:first-child + .row {
        grid-template-columns:repeat(3, 1fr);
    }
} 
@media only screen and (max-width: 767px) {
    .devx__green-phase .container .row:first-child + .row {
        grid-template-columns:repeat(2, 1fr);
    }
} 
@media only screen and (max-width: 576px) {
    .devx__green-phase .container .row:first-child + .row {
        grid-template-columns: 1fr;
    }
    .devx__green-phase {
        background: url('../images/greenscale-ai/green-phase-mobile.svg');
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        padding-bottom: 92px;
    }
} 

/* green - benefits */

.devx__green-benefits{
    padding-top:46px;
    padding-bottom:46px;
}
/* .devx__green-benefits .main-heading{
    text-align:center;
}
.devx__green-benefits .main-para{
    text-align:center;
    margin-top:12px;
    margin-bottom:32px;
} */
.devx__green-benefits .inner-wrapper .image-holder img {
    min-height:212px;
    max-width: 100%;
    border-top-right-radius: 20px;
    margin-bottom: -4px;
    border-top-left-radius: 20px;
    /* 
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    margin-bottom: -8px; */
}
.devx__green-benefits .inner-wrapper .image-holder{
    /* border-top-right-radius:20px;
    border-top-left-radius:20px;
    display:flex;
    min-width:100%;
    min-height:220px; */
}
.devx__green-benefits .inner-wrapper{
    border-radius:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.devx__green-benefits .inner-wrapper {
    border:1px solid #00000033;
}
.devx__green-benefits .inner-wrapper .inner-content-wrapper{
    padding:40px 20px;
    display:flex;
    align-items:start;
    min-width:100%;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
    justify-content:start;
    gap:20px;
    flex-direction:column;
}
/* .devx__green-benefits .cta-button:hover{
    opacity:.8;
} */
.devx__green-benefits .devx__btn-primary{
    background:#21913B;
    border:1px solid #21913B;
}


/* green benefits - media queries */

@media only screen and (max-width: 1200px) {
    .devx__green-benefits .container .row .col-lg-3 .inner-wrapper {
        height: 100%;
        align-items:start;
        justify-content:start;
    }
    .devx__green-benefits .container .row .col-lg-3 {
        min-width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        align-items:stretch;
    }
    .devx__green-benefits .container .row:first-child + .row {
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        padding-right: 16px;
        padding-left: 16px;
    }
}
@media only screen and (max-width: 1024px) {
    .devx__green-benefits .container .row:first-child + .row {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 991px) {
    .devx__green-benefits .container .row:first-child + .row {
        grid-template-columns: repeat(2, 1fr);
    }
    .devx__green-benefits .inner-wrapper .inner-content-wrapper {
        padding: 20px;
        gap: 8px;
    }
    .devx__green-benefits .inner-wrapper .inner-content-wrapper p {
        margin-bottom: 0px;
    }
    .devx__green-benefits .inner-wrapper .inner-content-wrapper br {
        display:none;
    }
}
@media only screen and (max-width: 576px) {
    .devx__green-benefits .container .row:first-child + .row {
        grid-template-columns: 1fr;
    }
}

/* green - difference */

.devx__green-different{
    padding-top:46px;
    padding-bottom:46px;
    max-width:1200px;
    margin:auto;
}
/* .devx__green-different .main-heading{
    text-align:center;
} */
/* .devx__green-different .main-para{
    text-align:center;
    margin-top:16px;
    margin-bottom:32px;
} */
.devx__green-different .col-lg-6{
    padding:70px 40px;
}
.devx__green-different .col-lg-6:nth-child(2){
    background:#EEFBE9;
}
.devx__green-different .col-lg-6 h3{
    font-size:24px;
    text-align:center;
    line-height:34px;
}
.devx__green-different ul{
    padding-left:0;
    margin-top:32px;
    margin-bottom:32px;
}
.devx__green-different ul li{
    list-style-type:none;
    display:flex;
    align-items:start;
    justify-content:start;
    gap:12px;
}
.devx__green-different ul li img {
    height: 24px;
    width: 24px;
}
.devx__green-different ul li:not(:last-child){
    margin-bottom:20px;
}
.devx__green-different ul li span{
    position:relative;
    top:1px;
}


/* green - works */

.devx__green-works {
    padding-top:46px;
    padding-bottom:46px !important;
}
.devx__green-works .svg-wrapper {
    top: 15px;
}
.devx__green-works .count-wrapper {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    color:var(--theme-white);
    background: #21913B;
}
.devx__green-works .main-para{
    margin-top:12px;
    margin-bottom:32px;
}
.devx__green-works .count-image-wrapper {
    flex-wrap:nowrap;
}
.devx__green-works .curved-section-wrapper {
    overflow-x:auto !important;
    margin-bottom: 32px;
}
.devx__green-works .svg-wrapper {
    min-width: 1400px !important;
}
.devx__green-works .count-image-wrapper .col {
    min-width: 282px !important;
    max-width: 282px !important;
    width: 282px !important;
}
.devx__green-works .count-image-wrapper .col p {
    margin-bottom: 0px;
}
.devx__green-works .row .works-image-holder img{
    max-height:40px;
    max-width:40px;
}
.devx__green-works .row .works-image-holder{
    width:80px;
    height:80px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:100px;
    border:1px solid #1EAF38;
    margin-bottom:12px;
}
.devx__green-works .inner-wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:20px;
    gap:20px;
    border-radius:20px;
    min-height:calc(100% - 70px);
}
/* .devx__green-works .inner-wrapper h5 + p{
    text-align:center;
    line-height:28px;
}
.devx__green-works .inner-wrapper h5{
    font-size:20px;
    text-align:center;
    line-height:32px;
} */
.devx__green-works .inner-wrapper-header{
    clip-path:polygon(90% 0,100% 50%,90% 100%,0 100%,10% 50%,0 0);
    background:#1eaf388c;
    color:white;
    font-size:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:50px;
    margin-bottom:20px;
    font-family:"Bricolage-Grotesque";
}
.devx__green-works .main-cards-wrapper{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    align-items:stretch;
}
/* .devx__green-works .main-cta-button:hover{
    opacity:.8;
} */
.devx__green-works .devx__btn-primary {
    background:#21913B;
    border:1px solid #21913B;
}

/* THIS MAY GOES TO THE GLOBAL.CSS */
.custom-slider::-webkit-scrollbar {
  height: 8px;
}
.custom-slider::-webkit-scrollbar-thumb {
  background: #21913B;
  border-radius: 100px;
}
.custom-slider::-webkit-scrollbar-track {
  background: var(--theme-offwhite);
  border-radius: 0px;
}
.custom-slider {
  padding-bottom: 32px;
}
.custom-slider::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}
@-moz-document url-prefix() {
  .custom-slider {
    scrollbar-width: thin;
    scrollbar-color: #21913B var(--theme-offwhite);
  }
}


/* green - faq */

.devx__green-faq-section{
    padding-top: 46px;
    padding-bottom:46px;
}
.devx__green-faq-section .main-heading{
    color:#353535 !important;
}
.devx__green-faq-section .accordion-body{
    line-height:32px;
}
.devx__green-faq-section h2.main-heading{
    font-weight:700;
    font-style:Bold;
    font-size:38px;
    line-height:60px;
    letter-spacing:0%;
    margin-bottom:40px;
    padding-top:50px;
    text-align:center;
    color:white;
}
.devx__green-faq-section .accordion .accordion-item:not(:last-child){
    margin-bottom:10px;
}
.devx__green-faq-section .accordion-button::after{
    transform:scale(.8);
}
.devx__green-faq-section .actual-faq-wrapper{
    max-width:850px;
    margin:auto;
    padding:30px;
    border-radius:20px;
    border:2px solid #0000001A;
    background:white;
}
.devx__green-faq-section #accordionFlushExample{
    padding-right:0;
    padding-left:0;
}
.devx__green-faq-section .accordion-button[aria-expanded="true"]{
    background:#FFFFF3 !important;
    color:#000C1C;
    border-bottom:none !important;
    border-top:1px solid #00000033;
    border-right:1px solid #00000033;
    border-left:1px solid #00000033;
}
.devx__green-faq-section .accordion-button[aria-expanded="true"] img{
    filter:none !important;
}
.devx__green-faq-section .accordion-button:focus{
    box-shadow:none !important;
}
.devx__green-faq-section .accordion-item,
.devx__green-faq-section .accordion-button{
    background:none !important;
}
.devx__green-faq-section .accordion-item{
    border-bottom:none !important;
}
.devx__green-faq-section .accordion-body{
    padding-top:0 !important;
}
.devx__green-faq-section .accordion-button{
    color:#353535;
    font-weight:600;
    padding:24px !important;
    font-size:20px;
    line-height:26px;
    letter-spacing:0%;
    display:flex;
    box-shadow:none !important;
    border-top-right-radius:16px !important;
    border-top-left-radius:16px !important;
    align-items:center;
    justify-content:start;
    gap:10px;
}
.devx__green-faq-section .accordion-collapse{
    border-bottom-right-radius:16px !important;
    background:#FFFFF3 !important;
    border-bottom-left-radius:16px !important;
    border-bottom:1px solid #00000033;
    border-right:1px solid #00000033;
    border-left:1px solid #00000033;
}
.devx__green-faq-section .accordion-collapse.show p{
    color:#000C1C;
}


/* greenscale faq - media queries */

@media only screen and (max-width: 991px) {
    .devx__green-faq-section {
        padding-top: 0px !important;
    }
    .devx__green-faq-section .actual-faq-wrapper {
        padding: 14px !important;
        border-radius: 16px !important;
    }
    .devx__green-faq-section .accordion-button {
        padding: 14px 20px !important;
    }
}
@media only screen and (max-width: 576px) {
    .devx__green-faq-section .accordion-button img {
        display:none !important;
    }
}


/* green - bottom section */

/* .devx__green-ready{
    padding-top:80px;
    padding-bottom:80px;
}
.devx__green-ready h3 + p{
    line-height:28px;
}
.devx__green-ready h3{
    font-size:32px;
    line-height:40px;
    margin-bottom:20px;
}
.devx__green-ready img{
    max-height:300px;
}
.devx__green-ready .main-cta-button{
    background:#21913B;
    border:1px solid #21913B;
    color:#ffffff;
    padding:14px 26px;
    border-radius:12px;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    font-family:"Bricolage-Grotesque";
    text-transform:uppercase;
    letter-spacing:.3px;
    transition:.2s;
}
.devx__green-ready .cta-buttons-wrapper button:hover{
    opacity:.8;
}
.devx__green-ready .cta-buttons-wrapper{
    gap:20px;
    margin-top:12px;
}
.devx__green-ready .cta-buttons-wrapper .secondary-cta-button{
    border:1px solid #333333 !important;
    background:transparent;
    border:1px solid transparent;
    color:#333333;
    padding:14px 26px;
    border-radius:12px;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    font-family:"Bricolage-Grotesque";
    text-transform:uppercase;
    letter-spacing:.3px;
    transition:.2s;
} */


.devx__bottom-section {
    margin-top: 46px;
    margin-bottom: 92px;
    max-width: 1100px !important;
    width: calc(100% - 32px);
    border-radius: 16px;
    background:white;
    padding: 30px 40px;
    box-shadow: 0px 0px 30px #d6d6d694;
    min-height: 300px;
    max-height: fit-content;
    margin-right:auto;
    margin-left: auto;
}
.devx__bottom-section img {
    height: 350px;
    width: 360px;
    transform: scale(1.1);
}

.devx__bottom-section .cta-buttons-wrapper {
    gap: 10px;
}
.devx__bottom-section .main-cta-button {
    background:#21913B;
    border:1px solid #21913B;
}
.devx__bottom-section .secondary-cta-button {
    color: #21913B;
    border-color: #21913B;
}


@media only screen and (max-width: 1200px) {
    .devx__bottom-section {
        margin-right: 16px !important;
        margin-left: 16px !important;
        min-width: calc(100% - 32px) !important;
        display:flex !important;
    }
}
@media only screen and (max-width: 991px) {
    .devx__bottom-section {
        margin-top: 30px !important;
    }
}
@media only screen and (max-width:860px) {
    .devx__bottom-section {
        flex-direction:column-reverse !important;
    }
    .devx__bottom-section .col:first-child {
        align-items: center !important;
    }
    .devx__bottom-section .col:first-child h2,
    .devx__bottom-section .col:first-child p {
        text-align:center !important;
    }
    .devx__bottom-section .col:nth-child(2) {
        justify-content: center !important;
        margin-bottom: 20px !important;
    }
}
@media only screen and (max-width: 576px) {
    .devx__bottom-section {
        overflow: hidden !important;
        padding: 12px 0px 24px 0px !important;
    }
    .devx__bottom-section .cta-buttons-wrapper button {
        min-width: 100% !important;
        text-align:center;
    }
    .devx__bottom-section .cta-buttons-wrapper {
        display:flex;
        min-width: 100% !important;
        flex-direction: column;
    }
    .devx__bottom-section {
        margin-top: 0px !important;
        margin-bottom: 46px !important;
    }
    .devx__bottom-section img {
        width: 250px !important;
        height: 240px !important;
    }
}

/* media queries starts from here */


@media only screen and (max-width: 1400px) {
    .container {
        min-width: 100%;
    }
}
@media only screen and (max-width: 1330px) {
    nav .theme__btn {
        display:none;
    }
    .navbar-expand-xl .navbar-nav .nav-link {
        text-wrap:nowrap;
    }
    body nav .nav-item span {
        font-size: 12px;
    }
    nav.navbar-expand-xl .container {
        padding-right: 0px;
        padding-left: 0px;
    }
    .navbar-brand {
        padding-left: 16px;
    }
    .navbar-toggler {
        margin-right: 16px;
    }
}
@media only screen and (max-width: 1330px) and (min-width: 1024px) {
    .navbar-expand-xl .navbar-nav {
        margin-right: 16px;
    }
}
@media only screen and (max-width: 1201px) {
    .navbar-expand-xl .navbar-nav li {
        min-width: 100% !important;
        padding-right: 16px !important;
        padding-left: 16px !important;
    }
    .navbar-expand-xl .navbar-nav {
        float:left;
    }
    .navbar-collapse{
        margin-top: -10px;
        background:white;   
        padding-top: 12px;
        padding-bottom: 24px;
    }
}

/* greenscale - green future media queries */

@media only screen and (max-width: 576px) {
    .devx__green-future {
        background-image: url("../images/greenscale-ai/future-main-img-mobile.svg");
    }
}
