/*
|------------------------------
| HOMEPAGE - HERO SECTION
|------------------------------
*/

.devx__home-hero-section {
    background: url("../illustrations/i-hero-section-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-top: -80px !important;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 180px;
    padding-bottom: 120px;
    margin-bottom: 46px !important;
}
.devx__home-hero-section video {
    margin-top: 35px;
    margin-bottom: 50px;
    border-radius: 10px !important;
}


/*
|--------------------------------------
| HOMEPAGE - EXPLORE GROWTH ENGINE 
|--------------------------------------
*/

.devx__home-explore-growth-engine {
    padding: 46px 0px;
}
.devx__home-explore-growth-engine .cards-wrapper {
    margin-right: 16px !important;
    margin-left: 16px !important;
}
.devx__home-explore-growth-engine .cards-wrapper img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    max-height: 200px !important;
    object-fit: cover !important;
    min-width: 100% !important;
}
.devx__home-explore-growth-engine .cards-wrapper .col {
    background: var(--theme-offwhite);
    box-shadow: 0px 0px 10px #e2e2e2;
    border-radius: 20px;
}
.devx__home-explore-growth-engine .cards-wrapper .rounded-circle {
    height: 120px;
    width: 120px;
    box-shadow: 0px 4px 20px 0px #00000026;
    margin-top: -60px;
    background: var(--theme-white);
}

/* PROMO BANNER SPECIFIC SELECTORS */

.devx__bottom-section {
    margin-top: 60px;
    max-width: 1100px !important;
    border-radius: 16px;
    padding: 40px 60px;
    box-shadow: 0px 0px 30px #d6d6d694;
    min-height: 300px;
    max-height: fit-content;
    margin-right:auto;
    margin-left: auto;
}
.devx__bottom-section img {
    height: 350px;
    width: 360px;
    transform: scale(1.1);
}


/*
|--------------------------------------
| HOMEPAGE - HERE'S HOW WE BUILD - MAY COMEBACK LATER
|--------------------------------------
*/

.devx__home-how-we-build {
    padding-top: 46px;
    padding-bottom: 46px;
}
/* .devx__home-how-we-build .inner-wrapper-header {
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 10% 50%, 0 0);
    background:#0052cca6;
    color:white;
    font-size: 20px;
    display:flex;
    align-items:center;
    justify-content:center;
    min-height: 50px;
    margin-right: -5px;
    margin-left: -5px;
    max-height: 50px;
    margin-bottom: 24px;
    font-family: "Plus Jakarta Sans", sans-serif;
} */
/* .devx__home-how-we-build .wrapper-col {
    display:flex;
    flex-direction: column;
} */
/* .devx__home-how-we-build .new__design-btn {
    background: #0176d3;
    border-radius: 10px;
    padding: 14px 28px;
    transition: 0.2s;
    border: none;
    color: white;
} */
/* .devx__home-how-we-build .new__design-btn:hover {
    opacity: 0.8;
} */
/* .devx__home-how-we-build h2 {
    color: #032D60;
    font-size: 36px !important;
    line-height: 52px;
} */
.devx__home-how-we-build .head-para {
    max-width: 790px;
    /* margin-top: 20px;
    margin-bottom: 80px; */
}
/* .devx__home-how-we-build .robot-row h3 {
    max-width: 500px;
    color: #032D60;
    font-size: 30px;
    margin-bottom: 20px;
} */
.devx__home-how-we-build .cards-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
/* .devx__home-how-we-build .cards-row .col:first-child .count {
    padding: 10px 20px !important;
} */
/* .devx__home-how-we-build .cards-row .col h5 {
    line-height: 28px;
    border:2px solid red;
} */
/* .devx__home-how-we-build .cards-row .col .col img {
    display:none !important;
} */
/* .devx__home-how-we-build .cards-row .col .col{
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    justify-content: center;
    flex-direction: column;
    margin-top: 12px;
    gap: 14px;
    z-index: 1;
} */
/* .devx__home-how-we-build .robot-row button {
    background: #0176d3;
    color: #ffffff !important;
    border-radius: 8px;
    padding: 10px 24px !important;
    line-height: 24px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    border:2px solid red;
} */
.devx__home-how-we-build .count-wrapper{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    color:var(--theme-white);
    background:var(--theme-light-primary);
}
.devx__home-how-we-build .svg-wrapper {
    top: 15px;
}
/*
|-----------------------------------
| HOMEPAGE - WHY FOUNDERS TRUST
|-----------------------------------
*/

.devx__home-why-founders {
    background: #f7f7f7;
    background-image: url("../images/why-founder-trust-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-top: 46px;
    padding-bottom: 160px;
    border-bottom-left-radius: 100% 8%;
    border-bottom-right-radius: 100% 8%;
}
.devx__home-why-founders .head-para {
    max-width: 816px;
}
.devx__home-why-founders .cards-wrapper .col-lg-6 .inner-column {
    border-radius: 20px;
    background: var(--theme-white);
}
.devx__home-why-founders .cards-wrapper {
    max-width: 1080px;
}


/*
|-----------------------------------
| HOMEPAGE - TRUSTED PLATFORM
|-----------------------------------
*/

.devx__home-trusted-platforms {
    padding-top: 92px;
    padding-bottom: 92px;
}
.devx__home-trusted-platforms .inner-col {
    border: 1px solid var(--theme-offwhite);
    border-radius: 14px;
}


/*
|----------------------------------------------
| HOMEPAGE - EXPLORE GROWTH ENGINE 
|----------------------------------------------
*/

.devx__home-explore {
    padding-top: 46px;
    padding-bottom: 46px;
    background: var(--theme-offwhite);
}
.devx__home-explore h2 + p {
    max-width: 820px;
}
.devx__home-explore .row {
    max-width: 1240px;
}
.devx__home-explore .row .inner-col {
    border-radius: 14px;
    padding: 50px;
    background: var(--theme-white);
}
.devx__home-explore .rounded-img {
    background: #0f2c4e14;
    height: 90px;
    width: 90px;
    margin-bottom: 40px;
    border-radius: 100px;
}


/*
|----------------------------------------------
| HOMEPAGE - READY TO BUILD
|----------------------------------------------
*/

.devx__home-ready .devx__bottom-section {
    margin-top: 46px !important;
    margin-bottom: 46px;
}


/*
|----------------------------------------------
| HOMEPAGE - MEDIA QUERIES - MAY COMBACK LATER
|----------------------------------------------
*/

@media only screen and (max-width: 1400px) {
    .container {
        min-width: 100%;
    }
}
@media only screen and (max-width: 1330px) {
    nav .theme__btn {
        display:none;
    }
    .navbar-expand-xl .navbar-nav .nav-link {
        text-wrap:nowrap;
    }
    body nav .nav-item span {
        font-size: 12px;
    }
    nav.navbar-expand-xl .container {
        padding-right: 0px;
        padding-left: 0px;
    }
    .navbar-brand {
        padding-left: 16px;
    }
    .navbar-toggler {
        margin-right: 16px;
    }
}
@media only screen and (max-width: 1330px) and (min-width: 1024px) {
    .navbar-expand-xl .navbar-nav {
        margin-right: 16px;
    }
}
@media only screen and (max-width: 1201px) {
    .navbar-expand-xl .navbar-nav li {
        min-width: 100% !important;
        padding-right: 16px !important;
        padding-left: 16px !important;
    }
    .navbar-expand-xl .navbar-nav {
        float:left;
    }
    .navbar-collapse{
        margin-top: -10px;
        background:white;   
        padding-top: 12px;
        padding-bottom: 24px;
    }
}


/* new media queries, compatible with the current CSS code, (The above one is previous written - may need some optimization I guess) */

/* HOMEPAGE - HERO SECTION SPECIFIC */
@media only screen and (max-width: 1097px)  and (min-width: 992px) {
    .devx__home-hero-section .button-wrapper button {
        min-width: 100%;
        text-align:center !important;
    }
    .devx__home-hero-section .button-wrapper {
        flex-direction:column;
        align-items:start !important;
        justify-content:start;
    }
}
@media only screen and (max-width: 992px) {
    .devx__home-hero-section {
        padding-bottom: 60px !important;
        padding-top: 60px !important;
        margin-top: 0px !important;
    }
    .devx__home-hero-section video {
        margin-left: 0px !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        max-height: 100% !important;
        max-width: 100% !important;
        height: 100% !important;
        width: 100% !important;
    }
    .devx__home-hero-section .container .row .col-lg-6:first-child h1 br,
    .devx__home-hero-section .container .row .col-lg-6:first-child p br {
        display:none !important;
    }
    .devx__home-hero-section .container .row .col-lg-6:first-child p {
        max-width: 800px;
    }
    .devx__home-hero-section .container .row .col-lg-6:first-child p,
    .devx__home-hero-section .container .row .col-lg-6:first-child h1 {
        text-align: center !important;
    }
    .devx__home-hero-section .container .row .col-lg-6:first-child {
        margin-bottom: 32px;
        align-items:center !important;
        justify-content:center !important;
    }
}
@media only screen and (max-width: 576px) {
    .devx__home-hero-section .button-wrapper button {
        min-width: 100% !important;
        text-align:center !important;
    }
    .devx__home-hero-section .button-wrapper {
        flex-direction:column;
        min-width: 100% !important;
    }
}

/* HOMEPAGE - EXPLORE GROWTH ENGINE SPECIFIC */
@media only screen and (max-width: 1350px) {
    .devx__home-explore-growth-engine .cards-wrapper{
        flex-wrap:wrap !important;
    }
    .devx__home-explore-growth-engine .cards-wrapper .col {
        max-width: 320px !important;
        min-width: 320px !important;
    }
    .devx__home-explore-growth-engine .cards-wrapper .col .rounded-circle + h3 + p {
        padding-right: 16px !important;
        padding-left: 16px !important;
    }
}
@media only screen and (max-width: 1350px) {
    .devx__home-explore-growth-engine .cards-wrapper .col {
        max-width: calc(50% - 32px) !important;
        min-width: calc(50% - 32px) !important;
    }
    .devx__home-explore-growth-engine .cards-wrapper {
        display:grid !important;
        align-items:stretch !important;
        grid-template-columns: repeat(2, 1fr);
    }
    .devx__home-explore-growth-engine .cards-wrapper .col {
        min-width: 100% !important;
        justify-content:start !important;
    }
}
@media only screen and (max-width: 1200px) {
    .devx__bottom-section {
        margin-right: 16px !important;
        margin-left: 16px !important;
        min-width: calc(100% - 32px) !important;
        display:flex !important;
    }
}
@media only screen and (max-width: 992px) {
    .devx__home-explore-growth-engine h2,
    .devx__home-explore-growth-engine h2 + p {
        max-width: 800px !important;
        margin:auto;
    }
    .devx__home-explore-growth-engine h2 br,
    .devx__home-explore-growth-engine h2 + p br {
        display:none !important;
    }
    .devx__home-explore-growth-engine {
        padding: 0px !important; 
    }
    .devx__bottom-section {
        margin-top: 30px !important;
    }
}
@media only screen and (max-width:860px) {
    .devx__bottom-section {
        flex-direction:column-reverse !important;
    }
    .devx__bottom-section .col:first-child {
        align-items: center !important;
    }
    .devx__bottom-section .col:first-child h2,
    .devx__bottom-section .col:first-child p {
        text-align:center !important;
    }
    .devx__bottom-section .col:nth-child(2) {
        justify-content: center !important;
        margin-bottom: 20px !important;
    }
    .devx__home-explore-growth-engine h2,
    .devx__home-explore-growth-engine h2 + p {
        padding-right: 16px !important;
        padding-left: 16px !important;
        max-width: 100% !important;
    }
}
@media only screen and (max-width: 700px) {
    .devx__home-explore-growth-engine .cards-wrapper {
        grid-template-columns: 1fr;
    }
    .devx__home-explore-growth-engine .cards-wrapper .col .rounded-circle + h3 + p {
        padding-right: 8px !important;
        padding-left: 8px !important;
    }
}
@media only screen and (max-width: 576px) {
    .devx__bottom-section {
        overflow: hidden !important;
        padding: 12px 0px 24px 0px !important;
    }
    .devx__bottom-section img {
        width: 250px !important;
        height: 240px !important;
    }
}


/* HOMEPAGE - HERE'S HOW WE BUILD SECTION MEDIA QUERIES */
.devx__home-how-we-build .count-image-wrapper .col {
    min-width: 282px !important;
    max-width: 282px !important;
    width: 282px !important;
}
.devx__home-how-we-build .curved-section-wrapper {
    overflow-x:auto !important;
}
.devx__home-how-we-build .curved-section-wrapper .count-image-wrapper {
    flex-wrap: nowrap !important;
}
.devx__home-how-we-build .svg-wrapper {
    min-width: 1400px !important;
}

/* THIS MAY GOES TO THE GLOBAL.CSS */
.custom-slider::-webkit-scrollbar {
  height: 8px;
}
.custom-slider::-webkit-scrollbar-thumb {
  background: var(--theme-light-primary);
  border-radius: 100px;
}
.custom-slider::-webkit-scrollbar-track {
  background: var(--theme-offwhite);
  border-radius: 0px;
}
.custom-slider {
  padding-bottom: 32px;
}
.custom-slider::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}
@-moz-document url-prefix() {
  .custom-slider {
    scrollbar-width: thin;
    scrollbar-color: var(--theme-light-primary) var(--theme-offwhite);
  }
}


/* HOMEPAGE - WHY FOUNDER'S TRUST MEDIA QUERIES */

@media only screen and (max-width: 992px) {
    .devx__home-why-founders .cards-wrapper .col-lg-6 {
        margin-bottom: 1.5rem !important;
    }
    .devx__home-why-founders .cards-wrapper .col-lg-6 h3 {
        margin-bottom: 4px !important;
    }
    .devx__home-why-founders .cards-wrapper .col-lg-6 h3 + p {
        margin-bottom: 0px !important;
    }
    .devx__home-why-founders .cards-wrapper .col-lg-6 h3 br {
        display:none !important;
    }
    .devx__home-why-founders .cards-wrapper .col-lg-6 .inner-column {
        align-items:center !important;
    }
}
@media only screen and (max-width: 576px) {
    .devx__home-why-founders .cards-wrapper .col-lg-6 {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .devx__home-why-founders .cards-wrapper .col-lg-6 .inner-column {
        flex-direction: column !important;
        padding: 30px 20px !important;
        align-items:start !important;
    }
    .devx__home-why-founders {
        padding-bottom: 100px !important;
    }
}


/* HOMEPAGE - TRUSTED CAROUSEL MEDIA QUERIES */
@media only screen and (max-width: 992px) {
    .devx__home-trusted-platforms {
        padding-top: 46px !important;
        padding-bottom: 46px !important;
    }
}
@media only screen and (max-width: 576px) {
    .devx__home-trusted-platforms .owl-carousel .owl-item img {
        transform: scale(0.8);
    }
}


/* HOMEPAGE - EXPLORE GROWTH ENGINE IN ACTIONS MEDIA QUERIES */
@media only screen and (max-width: 1086px) {
    .devx__home-explore .container .row .col-lg-4.offset-2 {
        margin-left: 0px !important;
    }
    .devx__home-explore .container .row .col-lg-4 .inner-col {
        min-height: 100% !important;
    }
    .devx__home-explore .container .row .col-lg-4 {
        min-width: 100% !important;
        margin-bottom: 1.5rem !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .devx__home-explore .container .row:nth-child(2) {
        display:grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        grid-column-gap: 20px !important;
        align-items:stretch !important;
    }
}
@media only screen and (max-width: 768px) {
    .devx__home-explore .container .row:nth-child(2) {
        grid-template-columns: 1fr !important;
    }
    .devx__home-explore .container .row .col-lg-4 {
        padding-right: 0px !important;
        padding-left: 0px !important;
        margin-bottom: 1rem !important;
    }
    .devx__home-explore .container .row .col-lg-4 .inner-col {
        padding: 32px 16px 40px 16px !important;
    }
}


/* HOMEPAGE - BOTTOM BANNER SECTION MEDIA QUERIES */
@media only screen and (max-width: 992px) {
    .devx__bottom-section h2 br,
    .devx__bottom-section h2 + p br {
        display:none !important;
    }
}