/*
|------------------------------
| HOMEPAGE - HERO SECTION
|------------------------------
*/

.devx__home-hero-section {
    background: url("../illustrations/i-hero-section-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-top: -80px !important;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 180px;
    padding-bottom: 120px;
    margin-bottom: 46px !important;
}
.devx__home-hero-section video {
    margin-top: 35px;
    margin-bottom: 50px;
    border-radius: 10px !important;
}


/*
|--------------------------------------
| HOMEPAGE - EXPLORE GROWTH ENGINE 
|--------------------------------------
*/

.devx__home-explore-growth-engine {
    padding-top: 46px;
    padding-bottom: 46px;
}
.devx__home-explore-growth-engine .cards-wrapper img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.devx__home-explore-growth-engine .cards-wrapper .col {
    background: var(--theme-offwhite);
    box-shadow: 0px 0px 10px #e2e2e2;
    border-radius: 20px;
}
.devx__home-explore-growth-engine .cards-wrapper .rounded-circle {
    height: 120px;
    width: 120px;
    box-shadow: 0px 4px 20px 0px #00000026;
    margin-top: -60px;
    background: var(--theme-white);
}

/* PROMO BANNER SPECIFIC SELECTORS */

.devx__bottom-section {
    margin-top: 60px;
    max-width: 1100px !important;
    border-radius: 16px;
    padding: 40px 60px;
    box-shadow: 0px 0px 30px #d6d6d694;
    min-height: 300px;
    max-height: fit-content;
    margin-right:auto;
    margin-left: auto;
}
.devx__bottom-section img {
    height: 350px;
    width: 360px;
    transform: scale(1.1);
}


/*
|--------------------------------------
| HOMEPAGE - HERE'S HOW WE BUILD - MAY COMEBACK LATER
|--------------------------------------
*/

.devx__home-how-we-build {
    padding-top: 46px;
    padding-bottom: 46px;
}
/* .devx__home-how-we-build .inner-wrapper-header {
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 10% 50%, 0 0);
    background:#0052cca6;
    color:white;
    font-size: 20px;
    display:flex;
    align-items:center;
    justify-content:center;
    min-height: 50px;
    margin-right: -5px;
    margin-left: -5px;
    max-height: 50px;
    margin-bottom: 24px;
    font-family: "Plus Jakarta Sans", sans-serif;
} */
/* .devx__home-how-we-build .wrapper-col {
    display:flex;
    flex-direction: column;
} */
/* .devx__home-how-we-build .new__design-btn {
    background: #0176d3;
    border-radius: 10px;
    padding: 14px 28px;
    transition: 0.2s;
    border: none;
    color: white;
} */
/* .devx__home-how-we-build .new__design-btn:hover {
    opacity: 0.8;
} */
/* .devx__home-how-we-build h2 {
    color: #032D60;
    font-size: 36px !important;
    line-height: 52px;
} */
.devx__home-how-we-build .head-para {
    max-width: 790px;
    /* margin-top: 20px;
    margin-bottom: 80px; */
}
/* .devx__home-how-we-build .robot-row h3 {
    max-width: 500px;
    color: #032D60;
    font-size: 30px;
    margin-bottom: 20px;
} */
.devx__home-how-we-build .cards-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
/* .devx__home-how-we-build .cards-row .col:first-child .count {
    padding: 10px 20px !important;
} */
/* .devx__home-how-we-build .cards-row .col h5 {
    line-height: 28px;
    border:2px solid red;
} */
/* .devx__home-how-we-build .cards-row .col .col img {
    display:none !important;
} */
/* .devx__home-how-we-build .cards-row .col .col{
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    justify-content: center;
    flex-direction: column;
    margin-top: 12px;
    gap: 14px;
    z-index: 1;
} */
/* .devx__home-how-we-build .robot-row button {
    background: #0176d3;
    color: #ffffff !important;
    border-radius: 8px;
    padding: 10px 24px !important;
    line-height: 24px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    border:2px solid red;
} */
.devx__home-how-we-build .count-wrapper{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    color:var(--theme-white);
    background:var(--theme-light-primary);
}
.devx__home-how-we-build .svg-wrapper {
    top: 15px;
}
/*
|-----------------------------------
| HOMEPAGE - WHY FOUNDERS TRUST
|-----------------------------------
*/

.devx__home-why-founders {
    background: #f7f7f7;
    background-image: url("../images/why-founder-trust-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-top: 46px;
    padding-bottom: 160px;
    border-bottom-left-radius: 100% 8%;
    border-bottom-right-radius: 100% 8%;
}
.devx__home-why-founders .head-para {
    max-width: 816px;
}
.devx__home-why-founders .cards-wrapper .col-lg-6 .inner-column {
    border-radius: 20px;
    background: var(--theme-white);
}
.devx__home-why-founders .cards-wrapper {
    max-width: 1080px;
}


/*
|-----------------------------------
| HOMEPAGE - TRUSTED PLATFORM
|-----------------------------------
*/

.devx__home-trusted-platforms {
    padding-top: 92px;
    padding-bottom: 92px;
}
.devx__home-trusted-platforms .inner-col {
    border: 1px solid var(--theme-offwhite);
    border-radius: 14px;
}


/*
|----------------------------------------------
| HOMEPAGE - EXPLORE GROWTH ENGINE 
|----------------------------------------------
*/

.devx__home-explore {
    padding-top: 46px;
    padding-bottom: 46px;
    background: var(--theme-offwhite);
}
.devx__home-explore h2 + p {
    max-width: 820px;
}
.devx__home-explore .row {
    max-width: 1240px;
}
.devx__home-explore .row .inner-col {
    border-radius: 14px;
    padding: 50px;
    background: var(--theme-white);
}
.devx__home-explore .rounded-img {
    background: #0f2c4e14;
    height: 90px;
    width: 90px;
    margin-bottom: 40px;
    border-radius: 100px;
}


/*
|----------------------------------------------
| HOMEPAGE - READY TO BUILD
|----------------------------------------------
*/

.devx__home-ready .devx__bottom-section {
    margin-top: 46px !important;
    margin-bottom: 46px;
}


/*
|----------------------------------------------
| HOMEPAGE - MEDIA QUERIES - MAY COMBACK LATER
|----------------------------------------------
*/

@media only screen and (max-width: 1400px) {
    .container {
        min-width: 100%;
    }
}
@media only screen and (max-width: 1330px) {
    nav .theme__btn {
        display:none;
    }
    .navbar-expand-xl .navbar-nav .nav-link {
        text-wrap:nowrap;
    }
    body nav .nav-item span {
        font-size: 12px;
    }
    nav.navbar-expand-xl .container {
        padding-right: 0px;
        padding-left: 0px;
    }
    .navbar-brand {
        padding-left: 16px;
    }
    .navbar-toggler {
        margin-right: 16px;
    }
}
@media only screen and (max-width: 1330px) and (min-width: 1024px) {
    .navbar-expand-xl .navbar-nav {
        margin-right: 16px;
    }
}
@media only screen and (max-width: 1201px) {
    .navbar-expand-xl .navbar-nav li {
        min-width: 100% !important;
        padding-right: 16px !important;
        padding-left: 16px !important;
    }
    .navbar-expand-xl .navbar-nav {
        float:left;
    }
    .navbar-collapse{
        margin-top: -10px;
        background:white;   
        padding-top: 12px;
        padding-bottom: 24px;
    }
}